<hr class="m-0">
    
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
        <h2 class="mb-5">Certifications &amp; Courses</h2>
        <div class="subheading mb-3" id="dw">I regularly remove the certifications here and keep only these where a personal project can not demonstrate my skill. Example: there is no Oracle bellow as I have several projects, but there are T-SQL certificates.</div>

        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Microsoft Certified: Azure Solutions Architect Expert
            </li>
            <span class="text-primary">
                <a href="https://www.youracclaim.com/badges/4f8574c0-9fb0-4181-8d85-e9a599685789/linked_in_profile" target="_blank">
                    Certification Date: Jun 2019 – Expires on 20 June 2021
                </a>
            </span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Microsoft Certified: Exam 535: Architecting Microsoft Azure Solutions
            </li>
            <span class="text-primary">
                <a href="https://www.youracclaim.com/badges/3a1fb59a-d5ce-41be-b336-2c8bd3a5f5c9/linked_in_profile" target="_blank">
                    Certification Date: Jun 2018 – No Expiration date
                </a>
            </span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                ITIL® Intermediate Service Transition
            </li>
            <span class="text-primary">Certification Date: Feb 2014 – Present License 1002013033</span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                ITIL V3 Foundation
            </li>
            <span class="text-primary">Certification Date: May 2010 – Present License 00136963</span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>MTCNA - Mikrotik
            </li>
            <span class="text-primary">
                <a href="https://mikrotik.com/training/certificates/c101759c557b64b4b9fd" target="_blank">
                    Certification Date: Sep 2017 – Sep 2020 License 1709NA1759
                </a>
            </span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Splunk Certified User
            </li>
            <span class="text-primary">
                <a href="https://splunkcommunities.force.com/customers/apex/customers/apex/EDU_DownloadCertificate?id=a1O0b000004H1c8&retURL=/a1O0b000004H1c8" target="_blank">
                    Certification Date: Mar 2018 – Present License Cert-231017
                </a>
            </span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Intermediate Python for Data Science Course
            </li>
            <span class="text-primary">Certification Date: Jan 2018 – Present License 4813462</span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                edX Verified Professional Certificate for DAT201x: Querying with Transact- SQL
            </li>
            <span class="text-primary">
                <a href="https://courses.edx.org/certificates/2368f398f413451d95ea37188c026a95" target="_blank">
                    Certification Date: Jul 2017 – Present License 2368f398f413451d95ea37188c026a95
                </a>
            </span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>Certificate of Completion: C# Tutorial course
            </li>
            <span class="text-primary"><a href="https://www.sololearn.com/Profile/697498/CSharp" target="_blank">Date: Jun 2017 – Present License 1080-697498</a></span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                edX Verified Professional Certificate for DAT222x: Essential Statistics for Data Analysis using Excel
            </li>
            <span class="text-primary"><a href="https://courses.edx.org/certificates/68d5c520c5374dcebff6924071ed0df3" target="_blank">Certification Date: Jun 2017 – Present License 68d5c520c5374dcebff6924071ed0df3</a></span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Certificate of Completion: JavaScript Basics
            </li>
            <span class="text-primary">Certification Date: Mar 2016 – Present License 1024-697498</span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>Certificate of Completion: PHP Course
            </li>
            <span class="text-primary">Certification Date: Mar 2016 – Present License 1059-697498</span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>edX Professional Certificate for Windows PowerShell Fundamentals
            </li>
            <span class="text-primary">
                <a href="https://s3.amazonaws.com/verify.edx.org/downloads/3518418274064a9b8f859bef30b03c52/Certificate.pdf" target="_blank">
                    Certification Date: May 2015 – Present
                </a>
            </span>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>edX Verified Certificate for Introduction to Linux
            </li>
            <span class="text-primary">
                <a href="https://s3.amazonaws.com/verify.edx.org/downloads/9401b4788ef44624ad10b6310ca5420c/Certificate.pdf" target="_blank">
                    Certification Date: May 2015 – Present
                </a>
            </span>
        </ul>
    </div>
</section>