<div class="p0 m0 text-center" >
  <p class="card-text">Scan contact card</p>
  <img id="qr-code" class="card-img-top" alt="Scannable QR code with contact info" src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=MECARD:N:{{ .Param "lastName" }},{{ .Param "firstName" }};{{ .Param "address" }};TEL:{{ .Param "phone" }};EMAIL:{{ .Param "email" }};URL:{{ .Site.BaseURL }};NOTE:{{ .Param "contactNote" }};;"/>
</div>
<!--
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img id="qr-code" class="img-responsive" alt="Scannable QR code with contact info" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=150x150&amp;chl=MECARD:N:Georgiev,Martin;;TEL:%28359%29%2089-84-666-89;EMAIL:mggeorgiev%40gmail.com;URL:https://martingeorgiev.com/;NOTE:Solutions%20Architect;;">
      </div>
    </div>
  </div>
</div>
-->