<hr class="m-0">
    
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        {{ range .Site.Data.education }}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0"> {{ .school }} </h3>
                <div class="subheading mb-3"> {{ .degree }} </div>
                <div>{{ .major }}</div>
                <p>GPA: {{ .gpa }}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary"> {{ .range }} </span>
            </div>
        </div>
        {{ end }}

    </div>
</section>