<hr class="m-0">
    
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <p>
            Specialties: Automation for data analysis, data modelling, data visualisation, data driven decisions, information retrieval, exploratory data analysis.
        </p>

        <div class="social-icons">
            <a href="#dw">
                <i class="fas fa-database"></i>
            </a>
            <a href="#">
                <i class="fab fa-linux"></i>
            </a>
            <a href="#showroom">
                <i class="fab fa-github"></i>
            </a>
            <a href="#bi">
                <i class="fas fa-chart-bar"></i>
            </a>
            <a href="#pekarnaudoma">
                <i class="fab fa-html5"></i>
            </a>
            <a href="#pekarnaudoma">
                <i class="fab fa-css3-alt"></i>
            </a>
        </div>

        <br />
        <!--

        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <a class="fas fa-database" href="#dw"></a>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-linux"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-github"></i>
            </li>
            <li class="list-inline-item">
                <a class="fas fa-chart-bar" href="#bi"></a>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
        </ul>

        -->

        <div class="subheading mb-3" id="dw">Reporting and Warehousing using SQL:</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Pivoting a Result Set into One Row or Multiple Rows
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Reverse Pivoting a Result Set
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Reverse Pivoting a Result Set into One Column
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Suppressing Repeating Values from a Result Set
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Pivoting a Result Set to Facilitate Inter-Row Calculations
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Creating Buckets of Data, of a Fixed Size
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Creating a Predefined Number of Buckets
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Creating Horizontal Histograms &amp; Vertical Histograms
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Returning Non-GROUP BY Columns
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Calculating Simple Subtotals &amp; for All Possible Expression Combinations
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Identifying Rows That Are Not Subtotals
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Using Case Expressions to Flag Rows
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Creating a Sparse Matrix
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Grouping Rows by Units of Time
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Performing Aggregations over Different Groups/Partitions
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Simultaneously
            </li>

            <li>
                <i class="fa-li fa fa-check"></i>
                Performing Aggregations over a Moving
            </li>
        </ul>

        <br/>

        <div class="subheading mb-3">Systems Analysis</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Lead the change team
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Develop the communication plans
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Identify of the business problems, and the areas for research.
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Recommended alternatives
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Ensure an objective approach to research, and strict compliance with standards and procedures throughout the life cycle of the system
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Documenting the results
            </li>
        </ul>

        <br/>

        <div class="subheading mb-3">Systems Design</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Clarify and agree on the scope of the system
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                High level architecture design (Abstract design)
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Component Design
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Understanding Bottlenecks
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Scaling
            </li>
        </ul>

        <br />

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                C# (.Net Framework, Entity Framework, MVC)
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Visual Basic for Applications
            </li>                    
            <li>
                <i class="fa-li fa fa-check"></i>
                Python
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                SPL (Splunk’s query language for big data analysis)
            </li>
        </ul>

        <br/>

        <div class="subheading mb-3" id="bi">BI</div>
        <p>
            Various Reports created using Power BI are available for review upon request.
            Main tasks: Storytelling using data – composition, relationship, distribution trends.
            Data miners: practical experience with Orange 3 / Splunk Machine learning to perform.
        </p>

        <ul class="fa-ul mb-0">

            <li>
                <i class="fa-li fa fa-check"></i>
                Characterization
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Frequent / Rare patterns
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cluster Analysis
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Outliers Analysis
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Correlation
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Discrimination
            </li>
        </ul>

        <br />

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Database first &amp; Code first
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging
            </li>
        </ul>

        <br/>

    </div>
</section>