{{ define "main" }}
<div class="container-fluid p-0">
    {{ partial "about.html" .}}
    
    {{ if .Site.Params.showSearch}}
        {{ partial "search.html "}}
    {{ end }}


    {{ if .Site.Params.showExperience }}
        {{ partial "experience.html" . }}
    {{ end }}
    {{ if .Site.Params.showEducation }}
        {{ partial "education.html" . }}
    {{ end }}
    {{ if .Site.Params.showSkills }}
        {{ partial "skills.html" . }}
    {{ end }}
    {{ if .Site.Params.showProjects }}
        {{ partial "projects.html" . }}
    {{ end }}
    {{ if .Site.Params.showCertificates }}
        {{ partial "certificates.html" . }}
    {{ end }}
</div>
{{ end }}